
.carousel{
    display: flex;
    flex-direction: column;
    align-items: center;
    .carousel__title{
        font-weight: 700;
        font-size: 48px;
        line-height: 56px;
        color: $secondary-color;
        margin-top: 120px;
        margin-bottom: 86px;
    }
    .glide{ 
        .glide__arrows{
            position: absolute;
            margin-top: -228px;
            z-index: 1;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .glide__arrow--left, .glide__arrow--right{
                width: 100px;
                height: 100px;
                background: $primary-color;
                border-radius: 50%;
                box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
                border: 0px;
            }
            .glide__arrow--left{
                margin-left: 42px;
                img{
                    
                    transform: matrix(-1, 0, 0, 1, 0, 0);
                }
            }
            .glide__arrow--right{
                margin-right: 42px;
            }
            
        }
    }
}