.footer-container{
    background: $primary-color;
    padding: 0px 108px 96px;
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 1fr);
    overflow: hidden;
    
    .footer-container__box--white{
        background: $white-color;
        width: 115px;
        height: 30px;
        padding: 8px;
        align-self: center;
        
        .footer-container__text{
            z-index: 10;
            position: relative;
        }
    }
    .footer-container__about{
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        display: flex;
        flex-direction: column;
        gap: 10px;
        line-height: 21px;
        
        .footer-container__name{
            font-weight: 600;
            font-size: 1.5em;
            line-height: 24px;
        }

    }
    .footer-container__products{
        grid-column: 4 / 5;
        grid-row: 2 / 3;
        display: flex;
        flex-direction: column;
        gap: 10px;
        line-height: 21px;
        text-decoration: none;
        
        > :first-child{
            font-weight: 600;
        }
        a{
            text-decoration: none;
            color: $secondary-color;
        }
    }
    .footer-container__company{
        grid-column: 7 / 8;
        grid-row: 2 / 3;
        display: flex;
        flex-direction: column;
        gap: 10px;
        line-height: 21px;
        > :first-child{
            font-weight: 600;
        }
        a{
            text-decoration: none;
            color: $secondary-color; 
        }
    }
    .footer-container__socials{
        grid-column: 10 / 12;
        grid-row: 2 / 3;
        display: flex;
        flex-direction: column;
        gap: 18px;
        line-height: 21px;
        
        > :first-child{
            font-weight: 600;
        }
    }
    .footer-container__pictures{
        display: flex;
        justify-content: space-between;
        .footer-container__elipse{
            width: 20px !important;
            height: 20px !important;
            background: $secondary-color;
            border-radius: 50%;
            padding: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            
        }

    }
}
.bottom-nav{
    background: $secondary-color;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 13px 108px 14px;
    color: $grey-color;
    font-weight: 400;
    font-size: 1.125em;
    gap: 36px;
    line-height: 21px;
    > :first-child{
        margin-right: auto;
    }
}