::-webkit-scrollbar{
    display: none;
}
    
body{
    margin: 0px;
    font-family: Raleway;
}


  
    
.navigation-bar{
    background: $primary-color;
    @include sm{
        width: 100%;
        height: 64px;
        overflow: hidden;    
    }
    .navigation-bar__content{
        padding: 29px 108px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include sm{
            padding: 0px;
            height: 64px;    
        }
    }
    .navigation-bar__box--white{
        background: $white-color;
        width: 85px;
        height: 30px;
        padding: 6px;
        @include sm{
            width: 148px;
            height: 52px;
            margin-left: 32px;
            margin-bottom: 12px;
            padding: 0px;    
        }
        .navigation-bar__text{
            z-index: 10;
            position: relative;
            h1{
                @include sm{
                    text-align: center;
                    margin-top: 25px;
                    font-size: 2.375em;
                }       
            }
        }
    }
    .navigation-bar__spacer{
        margin-left: auto;
    }
    .navigation-bar__section{
        display: flex;
        flex-direction: row;
        align-items: center;
        @include sm{
            display: none;    
        }
    }
    .navigation-bar__hamburger{
        @include sm{
            display: block !important;
            float: right;
            width: 32px;
            height: 32px;
            background: $white-color;
            margin-right: 16px;
            i{
                padding: 9px;
                color: $secondary-color;
            }    
        }
    }
    .navigation-bar__link{
        color: $secondary-color;
        margin-left: 12px;
        margin-right: 12px;
        text-decoration: none;
        font-family: Raleway;
        font-weight: 600;
        font-size: 1.125em;
        line-height: $line-height-prop;
    }
    .navigation-bar__button{
        background: $white-color;
        box-shadow: 0px 0px 6px rgba(0,0,0,0.25);
        margin-left: 10px;
        padding: 9px;
        a {
            text-transform: uppercase;
            font-family: Raleway;
            font-weight: bold;
            font-size: 1.125em;
            line-height: $line-height-prop;
            text-decoration: none;
            color: $secondary-color;
        }
    }
}


