@include sm{
    .section-card{
        padding-top: 47.77px;
        padding-bottom: 0px;
        padding-left: 32px;
        padding-right: 32px;
        .section-card__title{
            font-size: 2.25em;
            line-height: 42.26px;
            padding-bottom: 94px;
        }
        .section-card__title-section{
            flex-direction: column;
            .section-card__img-circle{
                margin-top: -85px;
            }
            .section-card__titles{
                padding-left: 0px;
                padding-top: 32px;
                padding-bottom: 24px;
                text-align: center;
                .section-card__subtitle{
                    padding-top: 10px;
                }

            }
        }
        .section-card__cards{
            flex-direction: column;
            gap: 50px;
        }
        .section-card__card{
            margin-bottom: 32px;
            padding-left: 16px;
            padding-right: 16px;
            padding-bottom: 0px;
        }

    }
}