@include sm{
    .carousel {
        .carousel__title{
            font-size: 2.25em;
            line-height: 42.26px;
            margin-top: 48px;
            margin-bottom: 46px;
        }
        .glide{
            .glide__track .glide__slides .glide__slide .glide__pic{
                width: 312px;
                height: 321px;
            }
            .glide__arrows{
                margin-top: -200px;
                .glide__arrow--left, .glide__arrow--right{
                    background: #FFFFFF;
                    width: 32px;
                    height: 32px;
                    text-align: center;
                    img{
                        
                        content: url("/pictures/phone/Arrow\ Forward.png");
                    }
                } 
            }
        }
    } 
}