.hamburger-block{
    display: none;
}
@include sm{
    .stop-scrolling{
        height: 100%;
        overflow: hidden;
    }
    .hamburger-block--animate{
        animation-name: hamb-add;
        animation-duration: 0.5s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
        @keyframes hamb-add {
            from { right: -100%; }
            to { right: 0%; }
        }
    }
    .hamburger-block--animate-reverse{
        animation-name: hamb-remove;
        animation-duration: 0.5s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
        @keyframes hamb-remove {
            from { right: 0%; }
            to { right: -100%; }
        }
    }
    .hamburger-block{
        background:$white-color;
        height: 100%;
        width: 100%;
        z-index: 21;
        position: absolute;
        overflow: hidden;
        right: -100%;
        display: block;

       
        .hamburger-block__button{
            margin-top: 25px;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            .hamburger-block__exit{
                font-size: 1.55em;
                margin-right: 40px;
            }
            
        }
        .hamburger-block__section{
            display: flex;
            flex-direction: column;
            margin-top: 88px;
            margin-left: 32px;
            gap: 32px;
            .hamburger-block__link{
                color: $secondary-color;
                text-decoration: none;
                font-family: Raleway;
                font-weight: 600;
                font-size: 1.5em;
                line-height: 28,18px;
            }
            
        }
        .hamburger-block__button-get{
            background: $primary-color;
            box-shadow: 0px 0px 6px rgba(0,0,0,0.25);
            width: 160px;
            height: 56px;
            margin-top: 250px;
            margin-left: 32px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            a {
                text-transform: uppercase;
                font-family: Raleway;
                font-weight: bold;
                font-size: 1.125em;
                line-height: 21px;
                text-decoration: none;
                color: $secondary-color;
            }
        }
        
    }
}
